<br>
<br>
<br>
<br>
<br>
<div class="container">
  
   <div style="width:96%;">
       
        <button><a href="http://forum.parrot.com/english/" target="_parent" style="float:left;font-size:20px; ">
            Forum        
        </a>
        </button>
        
        <button>
        <a href="http://www.parrot.com/uk/support/hotline" target="_parent" style="float:left;font-size:20px; ">
            Contact technical support    
        </a>
        </button>
        <div style="float: right;">
        <button>
        <a class="contact_button" href="http://www.parrot.com/uk/compatibility" target="_parent" id="contact_compatibility" style="float:right;font-size:20px;">
            Phone compatibility
        </a>
        </button>
        
        <button>
        <a class="contact_button" href="http://www.parrot.com/uk/support/technicalcontacts/feedback" target="_parent" style="float:right;font-size:20px;">
                Your opinion about online support            
        </a>
        </button>
        </div>
    </div>
    <br>
	<div style="font-size:25px;font-style: italic;font-family: open sans;
                  font-weight: normal; font-size: 25px;">Home / Audio / Entertainment</div>
	
	<div class="view">  
		<div class="view view-fourth"> 
			<a href="http://www.parrot.com/uk/support/parrot-jumping-sumo">
     		<img src="../assets/parrotimages/jumping-sumo.png" />  
     		<div class="mask"> 
     			<h2>Parrot</h2> 
     			<h4>Jumping Sumo</h4>
    	 	</div>
    	 	</a>
     	</div>
     </div>
     
	<div class="view">  
		<div class="view view-fourth"> 
			<a href="http://www.parrot.com/uk/support/parrot-skycontroller">
     		<img src="../assets/parrotimages/skycontroller.png" />  
     		<div class="mask"> 
     			<h2>Parrot</h2> 
     			<h4>Skycontroller</h4>
    	 	</div>
    	 	</a>
     	</div>
    </div>
	
	<div class="view">  
		<div class="view view-fourth"> 
			<a href="http://www.parrot.com/uk/support/parrot-rolling-spider">
     		<img src="../assets/parrotimages/rolling-spider.png" />  
     		<div class="mask"> 
     			<h2>Parrot</h2> 
     			<h4>Rolling Spider</h4>
    	 	</div>
    	 	</a>
     	</div>
    </div>
    
	<div class="view">  
		<div class="view view-fourth"> 
			<a href="http://www.parrot.com/uk/support/parrot-bebop-drone">
     		<img src="../assets/parrotimages/bebop-drone.png" />  
     		<div class="mask"> 
     			<h2>Parrot</h2> 
     			<h4>Bebop Drone</h4>
    	 	</div>
    	 	</a>
     	</div>
    </div>
    
	<div class="view">  
		<div class="view view-fourth"> 
			<a href="http://ardrone2.parrot.com/support/">
     		<img src="../assets/parrotimages/ar-drone-2.png" />  
     		<div class="mask"> 
     			<h2>Parrot</h2> 
     			<h4>AR.Drone 2.0</h4>
    	 	</div>
    	 	</a>
     	</div>
    </div>
    
	<div class="view">  
		<div class="view view-fourth"> 
			<a href="http://www.parrot.com/uk/support/parrot-flower-power">
     		<img src="../assets/parrotimages/flower-power.png" />  
     		<div class="mask"> 
     			<h2>Parrot</h2> 
     			<h4>Flower Power</h4>
    	 	</div>
    	 	</a>
     	</div>
    </div>
    
    
    <div class="view">  
		<div class="view view-fourth"> 
			<a href="http://www.parrot.com/uk/support/parrot-zik-2">
     		<img src="../assets/parrotimages/zik-2.png" />  
     		<div class="mask"> 
     			<h2>Parrot</h2> 
     			<h4>zik 2.0</h4>
    	 	</div>
    	 	</a>
     	</div>
    </div>
    
    
	 <div class="view">  
		<div class="view view-fourth"> 
			<a href="http://www.parrot.com/uk/support/parrot-zik">
     		<img src="../assets/parrotimages/zik.png" />  
     		<div class="mask"> 
     			<h2>Parrot</h2> 
     			<h4>zik</h4>
    	 	</div>
    	 	</a>
     	</div>
    </div>	
    
    
	<div style="font-size:25px;font-style: italic;font-family: open sans;
                  font-weight: normal; font-size: 25px;">Bluetooth hands-free systems and kits</div>

	
	<div class="view">  
		<div class="view view-fourth"> 
			<a href="http://www.parrot.com/uk/support/parrot-mki9200">
     		<img src="../assets/parrotimages/mki9200.png" />  
     		<div class="mask"> 
     			<h2>Parrot</h2> 
     			<h4>MKi9200</h4>
    	 	</div>
    	 	</a>
     	</div>
     </div>
	
	
	<div class="view">  
		<div class="view view-fourth"> 
			<a href="http://www.parrot.com/uk/support/parrot-mki9100">
     		<img src="../assets/parrotimages/mki9100.png" />  
     		<div class="mask"> 
     			<h2>Parrot</h2> 
     			<h4>MKi9100</h4>
    	 	</div>
    	 	</a>
     	</div>
     </div>
	
	<div class="view">  
		<div class="view view-fourth"> 
			<a href="http://www.parrot.com/uk/support/parrot-mki9000">
     		<img src="../assets/parrotimages/mki9000.png" />  
     		<div class="mask"> 
     			<h2>Parrot</h2> 
     			<h4>MKi9000</h4>
    	 	</div>
    	 	</a>
     	</div>
     </div>
	
	<div class="view">  
		<div class="view view-fourth"> 
			<a href="http://www.parrot.com/uk/support/parrotck3100ck3300ck3500">
     		<img src="../assets/parrotimages/ck3100.png" />  
     		<div class="mask"> 
     			<h2>Parrot</h2> 
     			<h4>CK3100</h4>
    	 	</div>
    	 	</a>
     	</div>
     </div>
	
	<div class="view">  
		<div class="view view-fourth"> 
			<a href="http://www.parrot.com/uk/support/parrotck3000evolution">
     		<img src="../assets/parrotimages/ck3000-evolution.png" />  
     		<div class="mask"> 
     			<h2>Parrot</h2> 
     			<h4>CK3000</h4>
    	 	</div>
    	 	</a>
     	</div>
     </div>
	
	<div class="view">  
		<div class="view view-fourth"> 
			<a href="http://www.parrot.com/uk/support/parrot-unika">
     		<img src="../assets/parrotimages/MKi rang.jpg" />  
     		<div class="mask"> 
     			<h2>Steering wheels</h2> 
     			<h4>control</h4>
    	 	</div>
    	 	</a>
     	</div>
     </div>
	
	<div class="view">  
		<div class="view view-fourth"> 
			<a href="http://www.parrot.com/uk/support/parrot-asteroid-smart">
     		<img src="../assets/parrotimages/asteroid-smart.png" />  
     		<div class="mask"> 
     			<h2>Parrot</h2> 
     			<h4>ASTEROID Smart</h4>
    	 	</div>
    	 	</a>
     	</div>
     </div>
	
	<div class="view">  
		<div class="view view-fourth"> 
			<a href="http://www.parrot.com/uk/support/parrot-asteroid-tablet">
     		<img src="../assets/parrotimages/asteroid-tablet.png" />  
     		<div class="mask"> 
     			<h2>Parrot</h2> 
     			<h4>ASTEROID Tablet</h4>
    	 	</div>
    	 	</a>
     	</div>
     </div>
	
	<div class="view">  
		<div class="view view-fourth"> 
			<a href="http://www.parrot.com/uk/support/parrot-asteroid-mini">
     		<img src="../assets/parrotimages/asteroid-mini.png" />  
     		<div class="mask"> 
     			<h2>Parrot</h2> 
     			<h4>ASTEROID Mini</h4>
    	 	</div>
    	 	</a>
     	</div>
     </div>
	
	<div class="view">  
		<div class="view view-fourth"> 
			<a href="http://www.parrot.com/uk/support/parrot-minikit-neo-2-hd">
     		<img src="../assets/parrotimages/minikit-neo-2-hd.png" />  
     		<div class="mask"> 
     			<h2>Parrot</h2> 
     			<h4>MINIKIT Neo 2 HD</h4>
    	 	</div>
    	 	</a>
     	</div>
     </div>
	
	<div class="view">  
		<div class="view view-fourth"> 
			<a href="http://www.parrot.com/uk/support/parrot-minikit-neo">
     		<img src="../assets/parrotimages/minikit-neo.png" />  
     		<div class="mask"> 
     			<h2>Parrot</h2> 
     			<h4>MINIKIT Neo</h4>
    	 	</div>
    	 	</a>
     	</div>
     </div>
	 
	<div class="view">  
		<div class="view view-fourth"> 
			<a href="http://www.parrot.com/uk/support/parrot-minikit-plus">
     		<img src="../assets/parrotimages/minikit-plus.png" />  
     		<div class="mask"> 
     			<h2>Parrot</h2> 
     			<h4>MINIKIT+</h4>
    	 	</div>
    	 	</a>
     	</div>
     </div>	

</div>
 
 
 
 
 